<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Teste de DashBoard</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Refresh Data</a>
      <a mat-list-item>Random vote</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>