.field{
  text-align: left;
  button{
    width: 100%;
  }
}

.header-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .header{
    position: absolute;
    top: -5%;
    color: #fff;
    padding: 0 1vw;
    border-radius: 10px;

    background-image: linear-gradient(to right, #ad59ff, #7659ff);
    box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
      0 4px 10px 0 rgba(33, 7, 77, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    line-height: calc((1rem * 1.25) + 4px);
    &:active {
      background-image: linear-gradient(to right, #954ddb, #654ddb);
      box-shadow: none;
      border-color: transparent;
    }
    &:focus {
      background-image: linear-gradient(to right, #b970ff, #8970ff);
    }

    &:hover {
      background-image: linear-gradient(to right, #b970ff, #8970ff);
    }
    .header-title{

    }
  }
}

