.grid-container {
  margin: 20px;
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: calc(100vh - 250px);

  .dashboard-card {
    // position: absolute;

    &.dashboard-card-grid {
      height: 50vh;
    }

    &.dashboard-card-footer {
      height: 20vh;
    }

  }

}